.CompanyCard {
    margin: 10px;
    color: black;
    border-radius: 0px;
}

.CompanyCard .CardBody {
    margin: 1rem;
    text-align: left;
}

.CompanyCard img {
    width: 100px;
    position: relative;
}
