.Nav {
    top: 0;
    width: 100%;
    font-weight: bold;
}



nav {
    background-color: slateblue;
    text-align: center;
    font-weight: bold;
}

nav a {
    width: 8em;
    display: inline-block;
    color: white;
    text-decoration: none;
}

a.active {
    color: rgb(53, 53, 53);
    text-decoration: none;
}

nav a.hover {
    text-decoration: none;
}
